<div class="user-item">
  <div>
    id:{{currentuser.id}}
  </div>
  <div>
    username:{{currentuser.username}}
  </div>
  <div>
    email:{{currentuser.email}}
  </div>
  <div>
    enter name:
    <input type="text" [value]="currentuser.email" #emailInput>
  </div>
  <div>
    <!-- enter email:-->
    <input type="text" [value]="currentuser.username" #nameInput>
  </div>
  <div>
    <button (click)="saveuserData(emailInput.value,nameInput.value)">save</button>
  </div>
  <ul>
    <ng-container *ngIf="arrayUser; else noResult">
      <li [ngClass]="{selected:currentuser?.id===user.id}" 
       *ngFor="let user of arrayUser"  
      (click)="onUserSelected(user)">
        <b>{{user.username}}</b>
      </li>
    </ng-container>
    <ng-template #noResult>
       No Results.  
    </ng-template>
  </ul>
</div>

